
/*  portadas */
.portada-principal{
    @include portada-desktop;
    background-color: #ffaa25;
    background-image: linear-gradient(180deg, #ffaa25 0%, #e9331b 75%,$color-6 100%);
    transition: all 1s ease;
    &:hover{
        @include bg-portada-desktop;
        background-image: url(../images/bg_flowerboy.jpg);
    }
}

.portada-secundaria{
    @include portada-desktop;
    background-color: #fea9c0;
    background-image: linear-gradient(180deg, #fea9c0 17%, #f0eee2 53%, #fea9c0 84%);
    transition: all 1s ease;
    &:hover{
        @include bg-portada-desktop;
        background-image: url(../images/bg_sinmiedo.jpg);
    }
}

.descripcion{
    background: $color-4;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30rem;
    height: 20rem;
    &:hover{
        background-color: $color-5;
        color: $color-6;
    }
}

/* servicios */
.servicios{
    @include servicios;
    flex-direction: row;
    background-image:url(../images/fondo_remeras.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    div{
        padding: 3rem;
        margin:3rem;
        width: 30rem;
        height: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 1rem;
        background-color: $color-4;
        &:hover{
            background-color: $color-5;
            color: $color-6;
        }
    }
}

/* adaptación responsive para dispositivos móbiles */
@media screen and (max-width: 768px ){
    .portada-principal{
        @include portada-mobile;
        .descripcion{
            width: 20rem;
            height: 20rem;
        }
        &:hover{
            @include bg-portada-mobile;
        }
    }    
    .portada-secundaria{
        @include portada-mobile;
        .descripcion{
            width: 20rem;
            height: 20rem;
        }
        &:hover{
            @include bg-portada-mobile;
        }
    }
    .servicios{
        flex-direction: column;
        div{
            width: 20rem;
            height: 20rem;
        }
    }
}
