/* colores  */
$color-1: rgb(59, 43, 30);
$color-2: rgb(239, 233, 209);
$color-3: rgb(240, 212, 176);
$color-4: rgba(255, 255, 255, 0.5);
$color-5: rgba(240, 212, 176, 0.5);
$color-6:#c72a1f;

/* tipografía */
$font-family-1:'Calistoga', cursive;
$font-family-2: 'Montserrat', sans-serif;